@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800&display=swap");

:root {
	--body-font: "Figtree", sans-serif;

	--color-body: #e8f3f8;
	--color-header: #061b25;
	--color-text: #061b25;
	--color-text-mute: #a4d0e3;
	--color-input: #082937;
	--color-input-lighter: #0b374a;
	--color-secondary: #ff8c42;
	--color-secondary-darker: #cc7035;
	--color-secondary-lighter: #ffa368;
	--color-tertiary: #1c89b8;
	--color-text-badge: #e8f3f8;
	--color-disabled: #d2e7f1;
	--color-text-disabled: #77b8d4;

	--global-border-radius: 6px;
	--global-transition: all 0.2s ease-in-out;
}

/* ==========================
    General styles
============================= */

html {
	font-size: 18px;
}

body {
	font-family: var(--body-font);
	background-color: var(--color-body);
	color: var(--color-text);
}

.container {
	padding: 0 1.5rem;
}

button,
input[type="checkbox"] {
	cursor: pointer;
}

ol,
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	color: white;
	margin-bottom: 2rem;
	text-align: center;
}

a {
	color: var(--color-text);
	transition: var(--global-transition);
}

a:hover {
	color: var(--color-secondary);
}

/* Form */

#todo-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#todo-form input {
	background-color: var(--color-input);
	border: 0;
	padding: 1rem;
	border-radius: var(--global-border-radius);
	outline: 0;
	color: white;
}

#todo-form input:hover,
#todo-form input:focus {
	background-color: var(--color-input-lighter);
}

#todo-form input::placeholder {
	color: var(--color-text-mute);
}

#todo-form button {
	border: 0;
	padding: 1rem;
	border-radius: var(--global-border-radius);
	font-weight: 700;
	text-transform: uppercase;
	color: white;
	background-color: var(--color-secondary);
}

#todo-form button:hover {
	background-color: var(--color-secondary-darker);
}
#todo-form button:active {
	background-color: var(--color-secondary-lighter);
}

#todo-form button,
#todo-form input {
	transition: var(--global-transition);
}

small,
#todo-form button,
.state span {
	font-size: 0.75rem;
}

/* Header */
#main-header {
	background-color: var(--color-header);
	padding: 3rem 0;
	margin-bottom: 2rem;
}

/* state */
.state {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin-bottom: 2rem;
}

.state li {
	display: flex;
}

.state span {
	padding: 0.25rem 0.5rem;
}

.state span:first-child {
	background-color: var(--color-header);
	color: var(--color-text-mute);
	border-radius: var(--global-border-radius) 0 0 var(--global-border-radius);
}

.state span:nth-child(2) {
	background-color: var(--color-tertiary);
	color: var(--color-body);
	border-radius: 0 var(--global-border-radius) var(--global-border-radius) 0;
	font-weight: 700;
}

/* TODOs */

.todos {
	margin-bottom: 4rem;
}

.todos li {
	background-color: white;
	border-radius: var(--global-border-radius);
	margin-bottom: 1px;
	padding: 1.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todos li div {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.todos li.complete {
	background-color: var(--color-disabled);
	text-decoration: line-through;
	color: var(--color-text-disabled);
}

input[type="checkbox"] {
	appearance: none;
	background-color: transparent;
	margin: 0;
	width: 1.5rem;
	height: 1.5rem;
	border: 2px solid var(--color-text);
	border-radius: 100%;
	display: grid;
	place-content: center;
}
input[type="checkbox"]::before {
	content: url("data:image/svg+xml,%3Csvg fill='' width='28' height='50' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 16.577l2.194-2.195 5.486 5.484L24.804 7.743 27 9.937l-14.32 14.32z'/%3E%3C/svg%3E");
	transform: scale(0);
	transition: var(--global-transition);
}

input[type="checkbox"]:checked {
	background-color: var(--color-text-disabled);
	border-color: var(--color-text-disabled);
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

.todos li button {
	border: 0;
	padding: 0.25rem;
	display: grid;
	place-content: center;
	background-color: transparent;
}

.todos li button svg {
	width: 1.25rem;
	height: 1.25rem;
}

.todos li button svg path {
	transition: var(--global-transition);
}
.todos li button:hover svg path {
	stroke: var(--color-text);
}

.todos li button:active svg {
	transform: scale(0.8);
}

.todos li span {
	padding: 2px;
	border-radius: var(--global-border-radius);
	transition: var(--global-transition);
}

.todos li span:focus {
	background-color: var(--color-body);
	outline: none;
}

.todos li span[contenteditable]:hover {
	background-color: var(--color-body);
}

/* ===============
	768px and above
================= */
@media screen and (min-width: 768px) {
	.container {
		max-width: 30rem;
		margin: 0 auto;
		position: relative;
	}

	#todo-form {
		flex-direction: row;
	}

	#todo-form input {
		flex-grow: 1;
	}
}
